.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  color: pink;
}

.select {
  width: auto;
  white-space: nowrap;
  overflow: visible;
  color: pink;
}

.text {
  color: pink;
}

.compact-legends {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.legend {
  margin: 5px;
  font-size: 12px;
}
