.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  display: flex;
  align-items: center;
}

.subscription-plan {
  max-width: 400px;
  padding: 20px;
  background-color: #FFF;
  border-radius: 8px;
  text-align: center;
}

.plan-title {
  color: #fc67ac;
  font-size: 24px;
  margin-top: 0;
}

.plan-price-condition {
  color: #ff84bd;
}

.plan-price {
  color: #fc67ac;
  font-size: 28px;
  margin: 10px 0;
}

.plan-description {
  color: #fc67ac;
  margin-bottom: 20px;
}

.plan-button {
  background-color: #ff5bdc;
  color: #FFF;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.plan-button:hover {
  background-color: #ff00bf;
}

.image {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: left;
  height: 40rem;
}

.image img {
  max-height: 80%;
  max-width: 80%;
}