.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: auto;
  padding-right: auto;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.title {
  color: #fc67ac;
}

.select {
  height: 3rem;
  width: auto;
  white-space: nowrap;
  overflow: visible;
  color: #fc67ac;
  margin-bottom: 1rem;
}

.text {
  color: #fc67ac;
}

.compact-legends {
  background-color: rgba(255, 255, 255, 0.527);
  padding: 20px;
  border-radius: 8px;
}

.legend {
  color: #fc67ac;
  text-align: justify; 
  margin-bottom: 10px;
}

.total {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff69b4;
  padding: 1rem;
  flex-direction: column;
}

.valor-total {
  font-weight: bold;
  color: #fff;
  margin-right: 10px;
}

.value-field {
  background-color: transparent;
  border: none;
  color: #fff;
}

button[class="calcula-total"] {
  background-color: #fc67ac;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

button[class="calcula-total"]:hover {
  background-color: #ff00d4;
}
